@font-face {
    font-family: "fonte";
    src: url("Glossy\ Sheen\ Shine\ DEMO.ttf");
}
body {
    background-color: lightpink;
    font-family: sans-serif;
}
main {
    display: flex;
    margin-left: 17rem;
    margin-top: 2rem;
    align-items: center;
    width: 60rem;
    height: 40rem;
    border: 0.2rem solid rgb(0, 0, 0);
    border-radius: 20px;
    box-shadow: #303030 3px 20px 20px 3px;
}
img {
    width: 23rem;
    height: 30rem;
    border-radius: 20px;
}
h1 {
    font-family: "fonte";
    font-size: 3rem;
    color: rgb(0, 0, 0);
}
p {
    font-size: 0.9rem;
}
button {
    background-color: rgb(0, 0, 0);
    width: 7rem;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    color: white;
}
